<div class="page">
  <div class="row">
    <div class="col-4">
      <div id="navs">
        <div class="hd">
          <p>Find out your answer</p>
        </div>
        <hr>
        <ul class="mnv">
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-anandaclub">What is AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-a-client">What is a client?</a>
          </li>
          <li>
            <a routerLink="/help/what-is-member">What is member in AnandaClub?</a>
          </li>
          <li>
            <a routerLink="/help/what-does-anandaclub-serves">What does AnandaClub serves?</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-8">
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


