<div class="page">
  <ul class="dnv">

    <li routerLinkActive="ac">
      <a routerLink="admin">
        Admin
      </a>
    </li>

    <li routerLinkActive="ac">
      <a routerLink="analyze">
        Analyze
      </a>
    </li>

    <li routerLinkActive="ac">
      <a routerLink="notice">
        Edit Notice
      </a>
    </li>

    <li routerLinkActive="ac">
      <a routerLink="savings">
        Savings
      </a>
    </li>

  </ul>
</div>
<div class="dsb">
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>
