<div class="pnf">
    <div class="page">
      <div class="offset-3 col-6">
        <mat-card>
          <div class="c404">
            <h1 class="tc">Oops!</h1>
            <h3 class="tc">Something went wrong.</h3>
          </div>
        </mat-card>
      </div>
    </div>
  <div class="page">
    <div class="cnt">
      <h3 class="tc">(404) The content you're looking for was not found.</h3>
      <h3 class="tc">Or</h3>
      <h3 class="tc">(401) Authentication failed.</h3>
    </div>
  </div>
</div>
