.ab {
	background-color: #fff9;
  padding: 5px 2px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px #000;
}
.ro {
	float: right;
}
.dp {
	font-size: 12px;
	color: #686868;
}
div.xx {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: normal;
	color: #444;
}
img.xx {
	height: auto;
	width: auto;
	max-height: 700px;
	max-width: 100%;
}
.pd .mat-button {
	width: 50%;
	padding: 0;
}
.cc .mat-form-field {
	width: 82%;
}
.ec {
	margin: 10px 0;
}
.co {
	float: right;
}
.tm {
	font-size: 12px;
	color: #686868;
}
.cb {
	padding-left: 15px;
	height: auto;
	max-height: 200px;
	overflow-y: auto;
}
