<div class="header">
  <div class="page">
    <h2 class="tc">Welcome, please login to continue.</h2>
  </div>
</div>
<div class="body">
  <div class="page">
    <div class="row">
      <div class="col-6 sht">
        <div class="sh">
          <h1 class="tc">Shalukquri Ananda Club</h1>
          <p class="tc">The community of scholars.</p>
        </div>
      </div>
      <div class="col-6">
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </div>
    </div>
  </div>
</div>
