<div class="h">
  <div class="page">
    <h2 class="tc">All notices</h2>
  </div>
</div>

<div class="page">
  <ul>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
    <li><a href="#">#</a></li>
  </ul>
</div>

