<mat-card-content class="fade">
  <a mat-button routerLink="/login/member" color="accent">Member's login</a>
  <mat-card-title>
    <h3 class="tc">Client's login</h3>
  </mat-card-title>

  <form (ngSubmit)="onClientLogin(client.value)" class="lgf" #client="ngForm">
    <figure class="field">
      <mat-form-field>
        <input matInput type="text" name="clientid" placeholder="Client's ID" [(ngModel)]="clientid" pattern="(?=.*[a-z]).{4,10}" matTooltip="Required: [a-z] between 4 & 10" required>
      </mat-form-field>
    </figure>

    <figure class="field">
      <mat-form-field>
        <input matInput type="password" name="clientpassword" placeholder="Client's Password" [(ngModel)]="clientpassword" pattern="(?=.*\d)(?=.*[a-z]).{8,16}" matTooltip="Required: [a-z], [0-9] between 8 & 16" required>
      </mat-form-field>
    </figure>
    <p class="tc">
      <button mat-button color="primary" type="submit" [disabled]="client.form.status === 'INVALID'">Login</button>
    </p>
  </form>
</mat-card-content>
